<div class="container">
    <div class="footer-grid">
        <h3>Help</h3>
        <ul class="footer-list">
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Payments</a></li>
            <li><a href="#">Delivery Policy</a></li>
            <li><a href="#">Product Info</a></li>
        </ul>
    </div>
    <div class="footer-grid">
        <h3>Square Veg</h3>
        <ul class="footer-list">
            <li><a href="#">About us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Vendors</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
    <div class="footer-grid">
        <h3>Square World</h3>
        <ul class="footer-list">
            <li><a href="#">Square Meal</a></li>
            <li><a href="#">Square Veg</a></li>
            <li><a href="#">Square Goods</a></li>
            <li><a href="#">Management</a></li>
        </ul>
        </div>
        <div class="clearfix"> </div>
</div>
