{% extends 'SquareVeg/index.html' %}
{% load staticfiles %}

{% block content%}

<div class="account_grid">
	<div class=" login-right">
	    <h3>REGISTERED CUSTOMERS</h3>
	    <p>If you have an account with us, please log in.</p>
	    <form method="post" action="{% url 'login' %}">
		    <div>
		        <span>Email Address<label>*</label></span>
		        <input class="col-lg-11" type="text" name="email"> 
		    </div>
		    <div>
		        <span>Password<label>*</label></span>
		        <input class="col-lg-11" type="password" name="password"> 
		    </div>
            <div class="clearfix"> </div>
		    <a class="forgot" href="#">Forgot Your Password?</a>
            <div class="clearfix"> </div>
		    <input type="submit" value="Login">
	    </form>
	</div>	
	<div class=" login-left">
		<h3>NEW CUSTOMERS</h3>
		<p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
		<a class="acount-btn" href="{% url 'register' %}">Create an Account</a>
	</div>
	<div class="clearfix"> </div>
</div>

{% endblock%}

{% block navigationmenu %}
    <h3 class="menu_head">Menu</h3>
						    
    <ul class="nav">
        {% for category in categories %}
		    <li><a href="{{category.id}}">{{category.title}}</a></li>                                    
        {% endfor %}
    </ul>
{% endblock %}