h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
body{
	background: #f8f8f8;
	font-family: 'Open Sans', sans-serif;
    margin:0;
}
body a{
	transition: 0.0s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
}
.top-header{
	background: #F97E76;
	padding: 0.7em 0;
}
.top-header-left{
	float: left;
}
ul.support{
	padding: 0 0em 0 0em;
	margin: 0;
	float: left;
}
ul.support li{
	display: inline-block;
}

ul.support li  label{
	background: url(../images/img-sprite.png)-2px -27px;
	width: 32px;
	height: 30px;
	display:inline-block;
	vertical-align: middle;
}
/*ul.support li.van a label{
	background-position: -46px -25px;
}*/
ul.support li a {
	text-decoration:none;
	font-size: 1.1em;
	color: #fff;
	
}

/* Bottom Header */
/*----*/
.bottom-header {
	border-bottom: 1px solid #ddd;
	padding: 0.7em 0 1em;
}
.header-bottom-left{
	float: left;
}
.logo{
	float:left;
    margin-top:9px;
}
.header-bottom-right{
	float: right;
	text-align: center;
	padding-top:1.7em;
}
.account,.cart{
	float:left;
}

.account a span{
	background: url(../images/img-sprite.png)-117px -30px;
	width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
}
.account a,.cart a ,ul.login li a {
	text-decoration:none;
	font-size: 1em;
	color: #000;
}
.cart a span{
	background: url(../images/img-sprite.png) -172px -28px;
	width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
}
ul.login{
	float:left;
	margin:0;
}
ul.login li{
	display:inline-block;
}
ul.login li a span:first-child{
	background: url(../images/img-sprite.png) -143px -29px;
	width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
}
.account a:hover,.cart a:hover,ul.login li a:hover{
	color: #1DBAA5;
}
/*----*/
.search {
	background:#fff;
	border: 1px solid #ddd;
	position: relative;
	float: right;
	margin: 1.2em 0 0;
}
.search input[type="text"] {
	border: none;
	outline: none;
	background: none;
	font-size:1em;
	color:#777;
	width:78%;
	padding:7px;
	-webkit-apperance:none;
	margin:0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}
.search input[type="submit"] {
	border-left: 1px solid #ddd;
	outline: none;
	cursor: pointer;
	width: 20.6%;
	height: 35px;
	padding: 7px;
	background: none;
	border-bottom: none;
	border-top: none;
	border-right: none;
}	
.search input[type="submit"]:active {
	position:relative;
}
/*----*/
/* End of Bottom Header*/




.menu_box, .cont_box{
	font-family: 'Roboto', sans-serif;
    margin:2em 2em 0 0;
}

h3.menu_head{
	background: #333;
	padding: 1em 0 1em 3em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1em;
	margin: 0;
}

ul.nav{
	padding:14px 0;
	list-style:none;
	background:#90F77B;
}
ul.nav li:hover {
	background:#333;
	color:#fff;
}
ul.nav li a{
	color:#333;
	font-size:0.85em;
	text-transform:uppercase;
	font-weight:bold;
	display: block;
	 padding:10px 15px 10px 40px;
}
ul.nav li a:hover{
	color:#6A4EF4;
}

/* --- Style --- */
.navbar-default {
    background-color: #f5f5dc;
    border-color: #fff5dc;
}


/* Footer Related Styles*/
.footer{
	background:#373737;
	padding:4em 0;
}
.footer-grid {
	float: left;
	width: 30.3%;
	margin-right: 3%;
}
.footer-grid_last {
	margin-right: 0;
}
.footer-grid h3 {
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 1.5em;
}

ul.footer-list {
	padding: 0;
	list-style: none;
}
ul.footer-list a {
	color: #fff;
	font-size: 0.8125em;
	line-height: 1.8em;
	font-family: 'Roboto', sans-serif;
}

/* End of Footer Related Styles*/


/*--Login box and cart content--*/

.content_box {
	padding:0em 0px 2em;
}

.cart_bg{
	background:#fb4d01;
	padding:0.5em 1em;
}

ul.cart{
	padding:0;
	list-style:none;
	float:left;
}

i.cart_icon{
	width: 45px;
	height: 40px;
	float:left;
	background: url(../images/img-sprite.png)no-repeat -203px -1px;
	margin-right: 10px;
}

p.cart_desc {
	color: #fff;
	font-size: 1em;
	font-weight: 500;
	line-height: 1em;
	margin-top: 5px;
	float: left;
}

span.yellow{
	font-size:13px;
	color:#fff51f;
}

ul.product_control_buttons{
	padding:0;
	list-style:none;
	float:right;
}
ul.product_control_buttons li a{
	font-size:12px;
	text-transform:uppercase;
	color:#000;
}

ul.quick_access{
	padding: 5px 30px;
	list-style:none;
	background:#ee4a02;
}
ul.quick_access li a{
	color:#fff;
	font-size:12px;
	text-transform:uppercase;
}
ul.quick_access li.view_cart{
	float:left;
}
   
ul.quick_access li.check {
        float: right;
}


/* Main Content*/

.inner_content {
	background: #fff;
	position: relative;
}

.product_image {
	border:10px solid #fff;
}

.product_container {
	padding: 1em;
}

.col_1_of_3 {
	display: block;
	float: left;
	margin-top: 2% ;
}

.row > div[class^="col-"]:first-child{margin-left:0;} 

.product {
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-family: 'Roboto', sans-serif;
}

.view-first img {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}

.cart-left{
	margin-right: 2.6%;
}
p.name{
	color: #000;
	font-size: 0.95em;
	font-weight: bold;
    text-align: center
}

ul.qty-select{
    list-style:none;
    padding: 0;
}

ul.qty-select li.qty_val{
	float:left;
}
ul.qty-select li.amt{
	float:right;
}

.price{
    margin-top:0.1em;
	float: right;
	font-weight: bold;
	font-size: 0.95em;
}

.add-button{
	margin-top:1em;
    text-align:center;
}
.add-button input[type="submit"] {
	background:#fb4d01;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.8em 2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
.add-button input[type="submit"]:hover {
	background:#26d2fc;
}

/* Address Page*/

.register-top-grid h3, .register-bottom-grid h3 {
	color:#FF5B36;
	font-size: 1em;
	padding-bottom: 5px;
	margin: 0;
}
.register-top-grid div, .register-bottom-grid div {
	float: left;
	margin: 10px 0;
}
.register-top-grid span, .register-bottom-grid span {
	color:#555;
	font-size: 0.8125em;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
}
.register-top-grid input[type="text"], .register-bottom-grid input[type="password"] {
	border: 1px solid #EEE;
	outline-color:#FF5B36;
	font-size: 1em;
	padding: 0.5em;
}

.container-alert-flash {
	position: absolute;
    /*top: 10px;*/
    z-index: 50000;
    width: 100%;
    right: 0%;
    margin: 0px;
    display:none;
}

.image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.image img{
    position:absolute;
}


/*Register Page*/

.news-letter {
	color: #555;
	font-weight:600;
	font-size: 0.85em;
	margin-bottom: 1em;
	display: block;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	clear: both;
}

.news-letter:hover {
	color:#00BFF0;
}

.checkbox {
	margin-bottom: 4px;
	padding-left: 27px;
	font-size: 1.2em;
	line-height: 27px;
	cursor: pointer;
}
.checkbox {
	position: relative;
	font-size: 1em;
	color:#555;
}
.checkbox:last-child {
	margin-bottom: 0;
}

.checkbox i {
	position: absolute;
	bottom: 5px;
	left: 0;
	display: block;
	width:20px;
	height:20px;
	outline: none;
	border: 2px solid #E1DFDF;
}
.checkbox input + i:after {
	content: '';
	background: url("../images/tick1.png") no-repeat 1px 2px;
	top: -1px;
	left: -1px;
	width: 15px;
	height: 15px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
}
.checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.checkbox input {
	position: absolute;
	left: -9999px;
}
.checkbox input:checked + i:after {
	opacity: 1;
}

.header-social {
    text-align: center;
}

.header-social a.face{
  background:url(../images/fac.png)no-repeat 12px 9px #3B62A3;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  padding: 0 2em;
  text-align: left;
  margin-right: 4%;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  display: inline-block;
  border-radius:3px;
  font-family: 'Roboto Condensed', sans-serif;
}

.header-social a.face:hover{
	 background:url(../images/fac.png)no-repeat 12px 9px #0E387C;
	 transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.header-social a.twitt {
  background:url(../images/twitter.png)no-repeat 12px 9px #19B0E7;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  padding: 0 2.5em;
  text-align: left;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  display: inline-block;
  cursor: pointer;
  outline: none;
	border-radius:3px;
  font-family: 'Roboto Condensed', sans-serif;
}
.header-social a.twitt:hover {
  background: url(../images/twitter.png)no-repeat 12px 9px #0192C7;
   transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.sign-up h2 {
    font-size: 22px;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    background:#ff3366;
    width: 40px;
    height: 40px;
    line-height: 1.7em;
    border-radius: 50%;
    margin: 0 auto;
}

.sign-up{
    padding-top:2em;
    padding-bottom:2em;
}

h5 {
    padding: 0.5em;
}

/*--login--*/
.login-left {
	padding: 0;
}
.login-left h3, .login-right h3 {
	color: #F97E76;
	font-size: 1.1em;
	text-transform: uppercase;
	font-weight: 600;
	padding-bottom: 0.5em;
}
.login-left p, .login-right p {
	color: #555;
	display: block;
	font-size: 1.1em;
	margin: 0 0 1.5em 0;
	line-height: 1.8em;
}
.acount-btn {
	background:#F97E76;
	color: #FFF;
	font-size: 0.9em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
}
.acount-btn:hover, .login-right input[type="submit"]:hover{
	background:#1DBAA5;
	text-decoration:none;
	color:#fff;
}
.login-right form {
	padding: 1em 0;
}
.login-right form div {
	padding: 0 2em 1.5em 0;
}
.login-right span {
	color: #555;
	font-size:0.9em;
	padding-bottom: 0.2em;
    padding-top: 0.2em;
	display: block;
	text-transform: uppercase;
}
.login-right input[type="text"], .login-right input[type="password"] {
	border: 1px solid #DDDBDB;
	outline-color:#fb4d01;
	font-size:0.9em;
	padding:10px;
}
.login-right input[type="submit"] {
	background:#F97E76;
	color: #FFF;
	font-size: 1em;
	padding: 0.5em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
a.forgot {
	font-size: 0.8125em;
}
.account_grid {
	padding: 1em 4em 2em;
}